html{
  height:100%;
}
body{
  height:100%;
  margin:0;
}
p{margin:0}


/*froala 样式问题*/
.fr-wrapper > div[style*="z-index: 9999"] {
  position: absolute !important;
  top: -10000px;
  opacity: 0;
}
.fr-element.fr-view {
  top: 0;
}
.fr-placeholder{
  margin-top: 0 !important;
}

/*dialog*/
.el-dialog__header {
  font-size: 18px;
}
.el-dialog__footer {
  font-size: 14px;
}
/*message*/
.el-message-box__wrapper {
  font-size: 14px;
}
.el-message {
  font-size: 14px;
}
/*el-popper*/
.el-drawer__body {
  font-size: 14px;
}
